@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply text-txblack;
	font-family:  'Poppins';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

textarea {
	@apply block w-full px-5 py-3 mt-2 w-full h-[200px] text-txblack bg-white border border-gray-200 rounded-md focus:border-secondary focus:ring-secondary focus:outline-none focus:ring focus:ring-opacity-40;
}

@layer components {
	.card {
		@apply flex flex-col bg-white rounded-lg w-auto shadow-md;
	}
	.card-header {
		@apply py-4 px-5;
	}

	.card-title {
		@apply text-2xl font-semibold;
	}

	.card-body {
		@apply px-5;
	}

	.card-footer {
		@apply py-1 px-5 border-t border-t;
	}

	.btn {
		@apply rounded;
	}

	.btn-sm {
		@apply py-1 px-3 text-sm;
	}
	.btn-md {
		@apply py-2 px-6 text-sm;
	}
	.btn-lg {
		@apply py-4 px-10 text-xl rounded-full;
	}

	.btn-primary {
		@apply bg-primary text-white;
	}
	.btn-secondary {
		@apply bg-secondary text-white;
	}
	.btn-combo {
		@apply bg-primary text-secondary;
	}

	.input-container {
		@apply p-2 w-full;
	}

	.input-label {
		@apply block mb-2 text-sm text-txblack;
	}

	.text-input {
		@apply block w-full px-5 py-3 mt-2 text-txblack placeholder-gray-300 bg-white border border-gray-200 rounded-md focus:border-secondary focus:ring-secondary focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-gray-500;
	}


	.skill-badge {
		@apply flex flex-col items-center justify-center text-center space-y-3 md:space-y-5 w-60;
	}

	.service-card {
		@apply flex h-min flex-col p-3 rounded shadow-md w-[90%] ss:w-[80%] sm:w-[60%] md:w-[30%] hover:shadow-2xl hover:border hover:border-secondary;
	}

	.service-card-header {
		@apply py-2 text-xl font-bold text-center;
	}

	.service-card-icon {
		@apply self-center h-20 w-20;
	}

	.service-card-details {
		@apply text-gray-500 text-start py-4;
	}
}


.material-icons {
	font-size: 24px;
}
.fab, fa {
	@apply text-txblack;
	font-size:  21px;
}

.anek-bangla {
	font-family:  'Anek Bangla';
}
@font-face {
  font-family: 'Anek Bangla';
  font-style: normal;
  font-display: block;
  src: url("./assets/fonts/Anek_Bangla/AnekBangla-Regular.ttf");
}

.poppins {
	font-family:  'Poppins';
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

.nav-link {
	@apply hover:text-secondary;
}

.nav-link-text {
	font-family: 'Poppins';
	@apply hover:text-secondary;
}

.mobile-nav-link-text {
	font-family: 'Poppins';
	@apply hover:text-secondary;
	@apply flex flex-row items-center
}

.footer-link {
	@apply flex flex-row items-center text-white space-x-3;
}


.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition:  all 0.25s;
	position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 2px;
	background: #000;
	transform: rotate(0);
	transition: all 0.5s;
}



.hamburger-middle {
	transform:  translateY(7px);
}
.hamburger-bottom {
	transform:  translateY(14px);
}

.open {
	transform: rotate(90deg);
	transform: translateY(0px);
}

.open .hamburger-top {
	transform:  rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform:  rotate(-45deg) translateY(6px) translate(-6px);
}
